
<div class="layout-container">

  <header role="banner">
    {{ page.header }}
  </header>

  {# {{ page.primary_menu }}
  {{ page.secondary_menu }} #}

{#  {{ page.breadcrumb }}#}

{#  {{ page.highlighted }}#}

{#  {{ page.help }}#}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div class="layout-content">
      <div class="hero-section">
        <div class="hero-column-left">
          <div class="hero-column-left-content">
            <h2>Zonnepanelen schoonmaken verhoogt jouw rendement</h2>
            <p>maar doe het wel op de juiste manier</p>
            <button class="secondary-button-solar">
              <img src="../images/icons/play.svg" alt="" />
              <span>Bekijk de video</span>
            </button>
          </div>
        </div>
        <div class="hero-column-right">
          right column
        </div>
      </div>
    </div>

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
