{# Hide the paragraph title by not rendering it #}
{% if paragraph.label %}
  {# Do not render the title #}
{% endif %}

<div class="second-content-block">
  <div class="second-content-block-left">
    <div class="second-content-block-left-image-container">
      {% if paragraph.field_second_main_content_image %}
        <img class="second-content-block-left-image" src="{{ file_url(paragraph.field_second_main_content_image.entity.fileuri) }}" alt="{{ paragraph.field_image_first_main.alt }}" />
      {% endif %}
    </div>
  </div>

  <div class="second-content-block-right">
    <div class="second-content-block-right-shortened">
      {# The title is hidden, so it won't be rendered #}
      {% if paragraph.field_second_main_content_title %}
      <h2>{{ paragraph.field_second_main_content_title.value }}</h2>
        {% endif %}
      {% if paragraph.field_test %}
        <p>{{ paragraph.field_test.value }}</p>
      {% endif %}

      {% if paragraph.field_second_main_content_button %}
        <button class="base-button-solar">{{ paragraph.field_second_main_content_button.value }}</button>
      {% endif %}
    </div>
  </div>
</div>
