<div class="paragraph paragraph--{{ paragraph.bundle|clean_class }}">
  {% if paragraph.field_title_first_main %}
    <p>{{ paragraph.field_title_first_main.value }}</p>
  {% endif %}

  {% if paragraph.field_subtitle_first_main %}
    <p>{{ paragraph.field_subtitle_first_main.value }}</p>
  {% endif %}

  {% if paragraph.field_image_first_main %}
    <img src="{{ file_url(paragraph.field_image_first_main.entity.fileuri) }}" alt="{{ paragraph.field_image_first_main.alt }}" />
  {% endif %}

  {% if paragraph.field_button_first_main_text %}
    <button>{{ paragraph.field_button_first_main_text.value }}</button>
  {% endif %}
</div>
